<header>
  <h1>NGX-Time-Since</h1>
</header>
<main>
  <h2>Date transformation</h2>
  <p>The <span>timeSince</span> pipe transforms a date value into a text description of the time since that date value.</p>
  <p>The pipe is useful for timestamp data such as comments, images, or updates.</p>
  <section class="flex-rows">
    @for(ex of examples; track ex) {
      <article class="flex-item">
        <span class="input">The input date of <span class="original-time">{{ ex | date:"MM/dd/yyyy 'at' HH:mm:ss a" }}</span> becomes</span>
        <span class="new-time">{{ ex | timeSince }}</span>
      </article>
    }
  </section>
</main>
<footer>
  Coding By Chad &copy;{{copyright}} All rights reserved.
</footer>
